html {
    font-size: 10px;
    background: url('./images/bacground3.jpg') bottom center;
    background-size: cover;

}

html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1 1 1rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}

.key {
    border: .4rem solid rgba(30, 255, 10, 0.799);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;

}

.key kbd {
    display: block;
    text-transform: uppercase;
    font-size: 4rem;
}

.key .sound {
    display: block;
    color: #ffe100;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.playing {
    transform: scale(1.1);
    border-color: #ffe100;
    box-shadow: 0 0 1rem #ffe100;
}