html {
    font-size: 10px;
    background: url('./images/bacground3.jpg') bottom center;
    background-size: cover;
}

body,
html {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.keys {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.key {
    border: .2rem solid #4ff009;
    border-radius: .4rem;
    margin: .7rem;
    width: 10rem;
    color: #fff;
    text-align: center;
    padding: 1rem .5rem;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 0 .1rem #4ff009;
    transition: all .07s ease;

}

.key span {
    display: block;
}

.key .letters {
    font-size: 3rem;
}

.key .title {
    color: #f0ec09;
}

.playing {
    box-shadow: 0 0 1.5rem #fff707;
    border-color: #ffc600;

    transform: scale(1.1);
}